accelerate==1.12.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
audioop-lts==0.2.2
audioread==3.1.0
av==16.1.0
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
coloredlogs==15.0.1
contourpy==1.3.3
cycler==0.12.1
cython==3.2.4
decorator==5.2.1
distro==1.9.0
dynet38==2.2
fastapi==0.128.0
fastembed==0.7.4
ffmpy==1.0.0
filelock==3.20.3
flask==3.1.2
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.1.0
gradio==3.36.1
gradio-client==2.0.3
groq==1.0.0
grpcio==1.78.0
grpcio-tools==1.76.0
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.26.0
huggingface-hub==0.36.2
humanfriendly==10.0
hyperframe==6.1.0
idna==3.11
itsdangerous==2.2.0
jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
lazy-loader==0.4
librosa==0.11.0
linkify-it-py==2.0.3
llvmlite==0.46.0
loguru==0.7.3
markdown-it-py==2.2.0
markupsafe==3.0.3
matplotlib==3.10.8
mdit-py-plugins==0.3.3
mdurl==0.1.2
mmh3==5.2.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
nagisa==0.2.11
narwhals==2.16.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
onnxruntime==1.23.2
orjson==3.11.7
packaging==26.0
pandas==3.0.0
pillow==11.3.0
pip==25.2
platformdirs==4.5.1
pooch==1.9.0
portalocker==3.2.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
py-rust-stemmers==0.1.5
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pydub==0.25.1
pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pytz==2025.2
pyyaml==6.0.3
qdrant-client==1.16.2
qwen-asr==0.0.6
qwen-omni-utils==0.0.9
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
rpds-py==0.30.0
safetensors==0.7.0
pymemcache==4.0.4
faiss-cpu==1.7.4
scikit-learn==1.8.0
scipy==1.17.0
semantic-version==2.10.0
sentence-transformers==3.4.1
sentencepiece==0.2.1
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
sox==1.5.0
soxr==1.0.0
soynlp==0.0.493
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.50.0
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.10.0
torchaudio==2.10.0
tqdm==4.67.1
transformers==4.57.6
typer-slim==0.21.1
typing-extensions==4.15.0
typing-inspection==0.4.2
uc-micro-py==1.0.3
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
werkzeug==3.1.5
yarl==1.22.0
